<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zebra Pak | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Our Prototype App 0.1</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="existing.html">View existing sheet</a></li>
        <li><a href="reports.html">Reports</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="jumbotron">
  <h1>Existing daily operator sheets</h1>
  <p>Here is a list of all the sheets that have already been created</p>
  </div>
</div>


</body>
</html>
